<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao meu projeto Flix API</h1>
    <p>Essa aplicação foi criada utilizando os recursos do Django, Django RestFrameworks e Django RestFramework Simplejwt</p>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/api/v1/actors/">Ators</a></li>
            <li><a href="http://127.0.0.1:8000/api/v1/genres/">Genres</a></li>
            <li><a href="http://127.0.0.1:8000/api/v1/movies/">Movies</a></li>
            <li><a href="http://127.0.0.1:8000/api/v1/reviews/">Reviews</a></li>
            <li><a href="http://127.0.0.1:8000/api/v1/authentication/token/">Authentication</a></li>
            
        </ul>
    </nav>
</body>
</html>